<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="shortcut icon" href="#">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="http://code.jquery.com/jquery-latest.min.js"
      type="text/javascript"
    >
      $('#myCarousel').carousel({});
    </script>
    <script
      src="http://code.jquery.com/jquery-latest.min.js"
      type="text/javascript"
    ></script>
    <title>Fajna fura</title>
  </head>
  <body>
    <div w3-include-html="navbar.html"></div>

    <div class="cos">
      <div class="container">
        <div
          id="carouselExampleIndicators"
          class="carousel slide span12"
          data-ride="carousel"
        >
          <div class="row">
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              ></li>
            </ol>
          </div>
          <div class="row ">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active"> 
                <img class="rounded mx-auto d-block img-fluid" src="../../img/dx.png"  alt="First slide"/>
                <div class="carousel-caption ">
                  <img
                    class="img-fluid logo"
                    src="../../img/xd.png"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-caption trickcenter_button">
                  <br />Twoja samochodowa wypożyczalnia <br />
                  <button type="button" class="btn btn-danger">
                    <a
                      href="../cennik/cennik.html"
                      style="text-decoration: none; color: white"
                      >Sprawdź pełną ofertę</a
                    >
                  </button>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  class="rounded mx-auto d-block img-fluid"
                  src="../../img/main_car_4.jpg"
                  alt="Second slide"
                />
                <div class="carousel-caption trickcenter_text">
                  <br />BMW MD5 3.6 2019 <br />
                  <button type="button" class="btn btn-danger">
                    <a
                      href="../cars/cardetails.html"
                      style="text-decoration: none; color: white"
                      >Zobacz szczegóły</a
                    >
                  </button>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  class="rounded mx-auto d-block img-fluid"
                  src="../../img/main_car_3.jpg"
                  alt="Third slide"
                />
                <div class="carousel-caption trickcenter_text">
                  <br />Alpha Romeo Gullietta 5.0 2020 <br />
                  <button type="button" class="btn btn-danger">
                    <a
                      href="../cars/cardetails.html"
                      style="text-decoration: none; color: white"
                      >Zobacz szczegóły</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron informacje">
      <p class="font-weight-bold text-center" style="font-size:45px;">Kim jesteśmy? </p><p class="text-center" style="font-size:26px;">Nasza firma to nowa innowacyjna wypożyczalnia samochodów na rynku polskim.</br>Oferujemy dużą flotę samochodów różnego rodzaju oraz niespotykane dotąd niskie ceny.</br> <b>Jesteś zainteresowany?</b>
        <button type="button" class="btn btn-danger">
        <a
          href="../auth/login.html"
          style="text-decoration: none; color: white"
          >Dołącz do nas! </a
        >
      </button> </p></div>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../layout/loadnavbar.js"></script>
  </body>
</html>
