<div id="cssmenu">
  <ul>
    <li>
      <a href="../layout/mainpage.html"><b>FajnaFura.pl</b></a>
    </li>
    <li>
      <a href="../cennik/cennik.html"><span>Cennik</span></a>
    </li>
    <li>
      <a href="../cars/carlist.html"><span>Samochody</span></a>
    </li>
    <li>
      <a href="../kontakt/kontakt.html"><span>Kontakt</span></a>
    </li>
    <li>
      <a href="../profile/profil.html"><span>Profil</span></a>
    </li>
    <li id="zmiana">
      <a href="../auth/login.html"><span>Zaloguj się/Zarejestruj się</span></a>
    </li>
  </ul>
</div>
